<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre Checker</title>
</head>
<body>
    <h1>Check the Genre</h1>
    <form action="/check" method="post">
        <label for="feature1">Duration(ms):</label>
        <input type="text" id="feature1" name="feature1"><br><br>
        <label for="feature2">Danceability:</label>
        <input type="text" id="feature2" name="feature2"><br><br>
        <label for="feature3">Energy:</label>
        <input type="text" id="feature3" name="feature3"><br><br>
        <label for="feature4">Loudness:</label>
        <input type="text" id="feature4" name="feature4"><br><br>
        <label for="feature5">Speechiness:</label>
        <input type="text" id="feature5" name="feature5"><br><br>
        <label for="feature6">Acousticness:</label>
        <input type="text" id="feature6" name="feature6"><br><br>
        <label for="feature7">Instrumentalness:</label>
        <input type="text" id="feature7" name="feature7"><br><br>
        <label for="feature8">Liveness:</label>
        <input type="text" id="feature8" name="feature8"><br><br>
        <label for="feature9">Valence:</label>
        <input type="text" id="feature9" name="feature9"><br><br>
        <label for="feature10">Tempo:</label>
        <input type="text" id="feature10" name="feature10"><br><br>
       

        <!-- Add more input fields for additional features as needed -->
        <input type="submit" value="Check Genre">
    </form>
</body>
</html>